<p>
  <b>Name:</b>
  <%= @task.name %>
</p>
<p>
  <b>Desctiption:</b>
  <%= @task.description %>
</p>
<p>
  <b>Owner:</b>
  <%= @task.user.name %>
</p>
<p>
  <b>Status:</b>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', :controller => "groups", :action => "show" ,:id => @task.group_id %>
