<div class="main">
	
<p id="notice"><%= notice %></p>
	<div class="cont clearfix">
            <div class="cont-left">
                <div class="cont-left-1">
                    <h3><%= @group.name %></h3>
                    <ul class="ope-list">
                        <li><i class="edit"></i><%= link_to '修改', edit_group_path(@group) %></li>
                        <li><i class="create"></i><a href="#">创建任务</a></li>
                        <li><i class="join"></i><a href="#">加入</a></li>
                    </ul>
                </div>
                <div class="tag">
                    <ul class="tag-list">
                    		<% @group.categories.each do |category| %>
    							<li><%= category.name %></li>
							<% end %> 
                    </ul>
                    <a href="#" class="edit"><i></i>修改</a>
                </div>
                <div class="textarea-block">
                    <textarea cols="70" rows="12"></textarea>
                    <ul class="job">
                        <li><a href="#">共<%=@group.tasks.size %>个任务</a></li>
                        <li><a href="#">评论</a></li>
                        <li><a href="#">修改记录</a></li>
                        <li><a href="#">举报</a></li>
                    </ul>
                </div>

                <div class="jobs">
                    <div class="jobs-top">
                        <h4>所有任务</h4>
                    </div>
                    <table class="jobs-pre">
                        <thead>
                            <tr>
                                <th class="col-120">名称</th>
                                <th class="col-60">状态</th>
                                <th class="col-200">操作</th>
                            </tr>
                        </thead>
                        <tbody>
	                    	<% @group.tasks.each do |task| %>
                            <tr>
                                <td><%= task.name %></td>
                                <td><span class="pre"><%= task.status %><span></td>
                                <td><a href="#"><%= link_to "修改", edit_task_path(task)%></a>&nbsp;&nbsp;&nbsp;<a href="#">分配</a></td>
                            </tr>
                            <% end %> 
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="cont-right">
                <div class="team-role">
                    <h4>相关个人</h4>
                    <ul>
                    	<% @group.users.each do |user| %>
						<li><img src="<%=user.icon_url %>" width="36" height="36"/><a href="#"><%= user.name %>(<%= user.position %>)</a></li>
						<% end %> 
                    </ul>
                </div>

                <div class="team-self">
                    <h4>相关团队</h4>
                    <ul>
                        <li><i></i><a href="#">社会协作平台开发</a></li>
                        <li><i></i><a href="#">社会协作平台开发</a></li>
                        <li><i></i><a href="#">社会协作平台开发</a></li>
                        <li><i></i><a href="#">社会协作平台开发</a></li>
                        <li><i></i><a href="#">社会协作平台开发</a></li>
                        <li><i></i><a href="#">社会协作平台开发</a></li>
                    </ul>
                </div>
            <div>
        </div>
</div>
