
<head>
<link href="/assets/jquery-ui-themes.css" type="text/css" rel="stylesheet">
    <link href="/assets/axure_rp_page.css" type="text/css" rel="stylesheet">
    <link href="/assets/axurerp_pagespecificstyles.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/index.css">
    
    <script type="text/javascript" src='/assets/sea-modules/seajs/1.3.0-dev/sea-debug.js'></script>
<script type="text/javascript">
    seajs.config({
        alias:{
            jquery:'1.8.2'
        },
        base:'/assets/sea-modules/'
    })
    seajs.use('shuihuar/src/index');
    seajs.use('shuihuar/src/head');
</script>
</head>

<body style="margin-left: 150px;">
<div id="main_container" style="position: relative;">


<div class="welfare-block">
  <ul class="welfare-list">
    <% @benefit_groups.each do |benefit_group| %>
        <li>
          <div class="welfare-item">
            <h3><%= benefit_group.name %><span group_id='<%=benefit_group.id%>' class="button join-team">加入</span></h3>
            <a href="#"  class="welfare-link"><img src="<%= asset_path(benefit_group.image_url) %>" width="215" height="195" /></a>
            <a href="#" group_id='<%=benefit_group.id%>' class="white-btn">喜欢</a>
            <span class="like-add"><%= benefit_group.follow_groups.count %></span>
          </div>
          <div class="welfare-owner">
            <a href="#"><img src='<%= asset_path("home/u106_normal.png") %>'/></a>
            <span class="owner-name"><%= benefit_group.owner_user.name %></span>
            <button class="button" user_id='<%=benefit_group.owner%>' style="float:right;margin-top:-1px;">关注</button>
          </div>
        </li>
    <% end %>
  </ul>
</div>


<div class="travel-block">
  <ul class="travel-list">
    <% @travel_groups.each do |travel_group| %>
        <li>
          <div class="travel-item">
            <h3><%= travel_group.name %><span group_id='<%=travel_group.id%>' class="button join-team">加入</span></h3>
            <a href="#"  class="welfare-link"><img src="<%= asset_path(travel_group.image_url) %>" width="215" height="195" /></a>
            <a href="#" group_id='<%=travel_group.id%>' class="white-btn">喜欢</a>
            <span class="like-add"><%= travel_group.follow_groups.count %></span>
          </div>
          <div class="travel-owner">
            <a href="#"><img src='<%= asset_path("home/u106_normal.png") %>'/></a>
            <span class="owner-name"><%= travel_group.owner_user.name %></span>
            <button class="button" user_id='<%=travel_group.owner%>' style="float:right;margin-top:-1px;">关注</button>
          </div>
        </li>
    <% end %>
  </ul>
</div>


<div class="code-block">
  <ul class="code-list">
    <% @it_groups.each do |it_group| %>
        <li>
          <div class="code-item">
            <h3><%= it_group.name %><span group_id='<%=it_group.id%>' class="button join-team">加入</span></h3>
            <a href="#" class="welfare-link"><img src="<%= asset_path(it_group.image_url)  %>" width="215" height="195" /></a>
            <a href="#" group_id='<%=it_group.id%>' class="white-btn">喜欢</a>
            <span class="like-add"><%= it_group.follow_groups.count %></span>
          </div>
          <div class="code-owner">
            <a href="#"><img src='<%= asset_path("home/u106_normal.png") %>'/></a>
            <span class="owner-name"><%= it_group.owner_user.name %></span>
            <button user_id='<%=it_group.owner%>' class="button" style="float:right;margin-top:-1px;">关注</button>
          </div>
        </li>
    <% end %>
  </ul>
</div>




<div id="u25" class="u25"  >
  <div id="u25_rtf">
    <p style="text-align:left;">
      <span class="theme-word">水花</span>
      <span class="theme-desc">社会协作平台</span>
    </p>
  </div>
</div><div id="u26" class="u26" >
  <DIV id="u26_line" class="u26_line" ></DIV>
</div>
<div id="index_slider" class="slide">
  <ul class="slide-list">
    <li class="slide-item">
      <a href="#" class="">
        <img src='<%= asset_path("1.png") %>' alt="" width="720" height="350">
      </a>
    </li>
    <li class="slide-item">
      <a href="#" class="">
        <img src='<%= asset_path("2.png") %>' alt="" width="720" height="350">
      </a>
    </li>
    <li class="slide-item">
      <a href="#" class="">
        <img src='<%= asset_path("3.png") %>' alt="" width="720" height="350">
      </a>
    </li>
  </ul>
  <ul class="slide-trigger">
    <li class="slide-trigger-item">
      <a href="#" class="">
        <img src='<%= asset_path("1.png") %>' alt="" width="72" height="35">
      </a>
    </li>
    <li class="slide-trigger-item">
      <a href="#" class="">
        <img src='<%= asset_path("2.png") %>' alt="" width="72" height="35">
      </a>
    </li>
    <li class="slide-trigger-item">
      <a href="#" class="">
        <img src='<%= asset_path("3.png") %>' alt="" width="72" height="35">
      </a>
    </li>
  </ul>
</div>

<div id="u40" class="u40"  >
  <div id="u40_rtf"><p style="text-align:left;"><span class="hot-team">热门</span></p></div>
</div>
<div id="u41" class="u41"  >
  <div id="u41_rtf"><p style="text-align:left;"><a href="#" class="focus-idea">关注动态</a></p></div>
</div>
<div id="u42" class="u42"  >
  <div id="u42_rtf"><p style="text-align:left;"><a href="#" class="team-link">穷游</a></p></div>
</div><div id="u43" class="u43" >
  <DIV id="u43_line" class="u43_line" ></DIV>
</div>
<div id="u44" class="u44"  >
  <div id="u44_rtf"><p style="text-align:left;"><a href="#" class="team-link">公益</a></p></div>
</div>
<div id="u45" class="u45"  >
  <div id="u45_rtf"><p style="text-align:left;"><a href="#" class="team-link">编程</a></p></div>
</div>
<div id="u46" class="u46" >
  <DIV id="u46_line" class="u46_line" ></DIV>
</div>
<div id="u47" class="u47"  >
  <div id="u47_rtf"><p style="text-align:left;"><span class="hot-team">小组</span></p></div>
</div>
<div class="search-list-wrap">
  <input id="J_search" type="text" placeholder="team" class="input-normal input-search">
  <input type="button" class="search-submit">
  <ul class="search-list" id="J_search_list">
  </ul>
</div>

<div id="u49" class="u49_container"   >
  <div id="u49_img" class="u49_normal detectCanvas"></div>
  <div id="u50" class="u50" style="visibility:hidden;"  >
    <div id="u50_rtf"></div>
  </div>
</div>
<%if user_signed_in? %>
    <div class="login-in">
      <img src="#"/>
      <div class="login-man">
        <h4>黄晓欣</h4>
        <p>收到一个邀请</p>
        <p>收到一个申请</p>
      </div>
      <ul class="login-remind">
        <li>200<br>关注</li>
        <li>400<br>好友</li>
        <li>30<br>任务</li>
      </ul>
      <ul class="some-links">
        <li><a href="#">创建团队</a></li>
        <li><a href="#">我的团队</a></li>
        <li><a href="#">邀请成员</a></li>
      </ul>
    </div>

    <style type="text/css">
        .login-in {position: absolute;top: 66px;left: 743px;width: 222px;height: 328px;
            padding:10px 12px;
            background-color: #FFF;border: 1px solid #CCC;}
        .login-in img {
            width: 110px;
            height: 110px;
            float: left;
            border: 1px solid #CCC;
        }
        .login-in .login-man {
            float: left;
        }
        .login-man h4, .login-man p {
            margin-left:10px;
        }
        .login-man p {
            line-height: 24px;
            height:24px;
            font-size: 14px;
        }
        .login-remind {
            float: left;
            width: 200px;
        }
        .login-remind li {
            float: left;
            width: 40px;
            padding-top: 20px;
            margin-right:12px;
            margin-left:12px;
            text-align: center;
            height: 40px;
            line-height: 20px;
        }
        .some-links {
            clear: both;
            width: 222px;
            padding-top: 20px;
        }
        .some-links li {
            height: 40px;
            line-height: 40px;
            border-top:1px solid #CCC;
            text-align: center;
        }
        .some-links a {
            text-decoration: none;
            font-size: 16px;
            color: #33ccfa;
        }
    </style>


<%else%>
<div id="u51" class="u51_container"   >
  <div id="u51_img" class="u51_normal detectCanvas"></div>
  <div id="u52" class="u52" style="visibility:hidden;"  >
    <div id="u52_rtf"></div>
  </div>
</div>

<div id="u54" class="u54_container"   >
  <div id="u54_img" class="u54_normal detectCanvas"></div>
  <div id="u55" class="u55" style="visibility:hidden;"  >
    <div id="u55_rtf"></div>
  </div>
</div>
<div id="u57" class="u57_container"   >
  <div id="u57_img" class="u57_normal detectCanvas"></div>
  <div id="u58" class="u58" style="visibility:hidden;"  >
    <div id="u58_rtf"></div>
  </div>
</div>
<div id="u59" class="u59"  >
  <div id="u59_rtf">
    <p style="text-align:left;">
      <input id="username" type="text" class="login-input"/>
    </p>
  </div>
</div>
<div id="u60" class="u60"  >
  <div id="u60_rtf">
    <p style="text-align:left;">
      <input id="password" type="password" class="login-input"/>
    </p>
  </div>
</div>
<div id="u61" class="u61_container">
  <button class="button login-btn">登 录</button>
</div>
<DIV id="u63container" style="position:absolute; left:857px; top:178px; width:66px; height:20px;" >
  <label for="u63">
    <div id="u64" class="u64"  >
      <div id="u64_rtf"><p style="text-align:left;"><span class="remember-me">记住我</span></p></div>
    </div>
  </label>
  <input id="u63" style="position:absolute; left:-3px; top:0px;" type="checkbox" value="checkbox"   >
</DIV>
<div id="u66" class="u66"  >
  <div id="u66_rtf">
    <p style="text-align:left;">
      <a href="#" class="forget-word">忘记密码</a>
    </p>
  </div>
</div>
<div id="u67" class="u67"  >
  <div id="u67_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">使用合作网站帐号登陆：</span></p></div>
</div><div id="u68" class="u68" >
  <DIV id="u68_line" class="u68_line" ></DIV>
</div><div id="u69" class="u69" >
  <DIV id="u69_line" class="u69_line" ></DIV>
</div>
<div id="u70" class="u70_container"   >
  <a href="#" id="u70_img" class="u70_normal detectCanvas"></a>
  <div id="u71" class="u71" style="visibility:hidden;"  >
    <div id="u71_rtf"></div>
  </div>
</div>
<div id="u72" class="u72_container"   >
  <a id="u72_img" class="u72_normal detectCanvas"></a>
  <div href="#" id="u73" class="u73" style="visibility:hidden;"  >
    <div id="u73_rtf"></div>
  </div>
</div><div id="u74" class="u74" >
  <DIV id="u74_line" class="u74_line" ></DIV>
</div>
<div id="u75" class="u75_container"   >
  <a href="#" id="u75_img" class="u75_normal detectCanvas"></a>
  <div id="u76" class="u76" style="visibility:hidden;"  >
    <div id="u76_rtf"></div>
  </div>
</div>
<div id="u77" class="u77_container"   >
  <a href="#" id="u77_img" class="u77_normal detectCanvas"></a>
  <div id="u78" class="u78" style="visibility:hidden;"  >
    <div id="u78_rtf"></div>
  </div>
</div>
<% end %>

<div class="team-sort">
  <ul class="team-items">
    <li class="team-title">公益</li>
    <li><a href="#">关爱老人</a></li>
    <li><a href="#">公益</a></li>
    <li><a href="#">暴走</a></li>
    <li><a href="#">无偿献血</a></li>
    <li><a href="#">义务劳动</a></li>
    <li><a href="#">查看更多</a></li>
  </ul>
</div>


<div class="team-sort1">
  <ul class="team-items">
    <li class="team-title">穷游</li>
    <li><a href="#">走进丽江</a></li>
    <li><a href="#">川藏骑行</a></li>
    <li><a href="#">背包客</a></li>
    <li><a href="#">裸辞</a></li>
    <li><a href="#">查看更多</a></li>
  </ul>
</div>

<div class="team-sort2">
<ul class="team-items">
  <li class="team-title">编程</li>
  <li><a href="#">宅男帝国</a></li>
  <li><a href="#">Java之路</a></li>
  <li><a href="#">Js之路</a></li>
</ul>
</div>
</DIV>
</DIV>


</DIV>
</DIV>

</DIV>
</DIV>
<DIV id="u285" style="visibility:hidden;" data-label="查看更多">
  <DIV id="pd0u285" style="" data-label="查看更多">
    <div id="u286" class="u286_container"   >
      <div id="u286_img" class="u286_normal detectCanvas"></div>
      <div id="u287" class="u287" style="visibility:hidden;"  >
        <div id="u287_rtf"></div>
      </div>
    </div>
    <div id="u288" class="u288"  >
      <div id="u288_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FF0099;">查看更多…</span></p></div>
    </div>
  </DIV>
</DIV>
<DIV id="u289" style="visibility:hidden;" data-label="个人登录">
  <DIV id="pd0u289" style="" data-label="个人登录">
    <div id="u290" class="u290_container"   >
      <div id="u290_img" class="u290_normal detectCanvas"></div>
      <div id="u291" class="u291" style="visibility:hidden;"  >
        <div id="u291_rtf"></div>
      </div>
    </div>
    <div id="u292" class="u292_container"   >
      <div id="u292_img" class="u292_normal detectCanvas"></div>
      <div id="u293" class="u293"  >
        <div id="u293_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">头像</span></p></div>
      </div>
    </div>
    <div id="u294" class="u294"  >
      <div id="u294_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:18px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">黄小鑫</span></p></div>
    </div>
    <div id="u295" class="u295"  >
      <div id="u295_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">300</span></p></div>
    </div>
    <div id="u296" class="u296"  >
      <div id="u296_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">关注</span></p></div>
    </div>
    <div id="u297" class="u297"  >
      <div id="u297_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">500</span></p></div>
    </div>
    <div id="u298" class="u298"  >
      <div id="u298_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">好友</span></p></div>
    </div>
    <div id="u299" class="u299"  >
      <div id="u299_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">1</span><span style="font-family:Applied Font;font-size:20px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">0</span></p></div>
    </div>
    <div id="u300" class="u300"  >
      <div id="u300_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">任</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">务</span></p></div>
    </div><div id="u301" class="u301" >
    <DIV id="u301_line" class="u301_line" ></DIV>
  </div><div id="u302" class="u302" >
    <DIV id="u302_line" class="u302_line" ></DIV>
  </div><div id="u303" class="u303" >
    <DIV id="u303_line" class="u303_line" ></DIV>
  </div>
    <div id="u304" class="u304"  >
      <div id="u304_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#66CCFF;">创</span><span style="font-family:Applied Font;font-size:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#66CCFF;">建团队</span></p></div>
    </div>
    <div id="u305" class="u305"  >
      <div id="u305_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#66CCFF;">邀请成员</span></p></div>
    </div>
    <div id="u306" class="u306"  >
      <div id="u306_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#66CCFF;">我的</span><span style="font-family:Applied Font;font-size:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#66CCFF;">团队</span></p></div>
    </div>
    <div id="u307" class="u307"  >
      <div id="u307_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#999999;">收到</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#999999;">1个邀请</span></p></div>
    </div>
    <div id="u308" class="u308"  >
      <div id="u308_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#999999;">收到</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#999999;">1</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#999999;">个</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#999999;">审批</span></p></div>
    </div>
  </DIV>
</DIV>
<div id="u309" class="u309" style="visibility:hidden;"  >
  <div id="u309_rtf"></div>
</div>
<DIV id="u310" style="visibility:hidden;" data-label="创建团队">
  <DIV id="pd0u310" style="" data-label="创建团队">
    <div id="u311" class="u311_container"   >
      <div id="u311_img" class="u311_normal detectCanvas"></div>
      <div id="u312" class="u312" style="visibility:hidden;"  >
        <div id="u312_rtf"></div>
      </div>
    </div>
    <div id="u313" class="u313_container"   >
      <div id="u313_img" class="u313_normal detectCanvas"></div>
      <div id="u314" class="u314" style="visibility:hidden;"  >
        <div id="u314_rtf"></div>
      </div>
    </div>
    <div id="u315" class="u315"  >
      <div id="u315_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">标题：</span></p></div>
    </div>
    <div id="u316" class="u316"  >
      <div id="u316_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">团队</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">简介</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">：</span></p></div>
    </div>
    <SELECT id="u317" size="2" class="u317 u317_text_sketch"    >
    </SELECT>

    <div id="u318" class="u318_container"   >
      <div id="u318_img" class="u318_normal detectCanvas"></div>
      <div id="u319" class="u319" style="visibility:hidden;"  >
        <div id="u319_rtf"></div>
      </div>
    </div>
    <div id="u320" class="u320_container"   >
      <div id="u320_img" class="u320_normal detectCanvas"></div>
      <div id="u321" class="u321"  >
        <div id="u321_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">上传图片</span></p></div>
      </div>
    </div>
    <div id="u322" class="u322_container"   >
      <div id="u322_img" class="u322_normal detectCanvas"></div>
      <div id="u323" class="u323" style="visibility:hidden;"  >
        <div id="u323_rtf"></div>
      </div>
    </div>
    <div id="u324" class="u324"  >
      <div id="u324_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">标签</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">：</span></p></div>
    </div>
    <div id="u325" class="u325_container"   >
      <div id="u325_img" class="u325_normal detectCanvas"></div>
      <div id="u326" class="u326"  >
        <div id="u326_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#800080;">计算机</span></p></div>
      </div>
    </div>
    <div id="u327" class="u327_container"   >
      <div id="u327_img" class="u327_normal detectCanvas"></div>
      <div id="u328" class="u328"  >
        <div id="u328_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">公益</span></p></div>
      </div>
    </div>
    <div id="u329" class="u329"  >
      <div id="u329_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">常</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">用标签</span></p></div>
    </div>
    <div id="u330" class="u330_container"   >
      <div id="u330_img" class="u330_normal detectCanvas"></div>
      <div id="u331" class="u331"  >
        <div id="u331_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#800080;">计算机</span></p></div>
      </div>
    </div>
    <div id="u332" class="u332_container"   >
      <div id="u332_img" class="u332_normal detectCanvas"></div>
      <div id="u333" class="u333"  >
        <div id="u333_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">公益</span></p></div>
      </div>
    </div>
    <div id="u334" class="u334_container"   >
      <div id="u334_img" class="u334_normal detectCanvas"></div>
      <div id="u335" class="u335"  >
        <div id="u335_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#800080;">计算机</span></p></div>
      </div>
    </div>
    <div id="u336" class="u336_container"   >
      <div id="u336_img" class="u336_normal detectCanvas"></div>
      <div id="u337" class="u337"  >
        <div id="u337_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">公益</span></p></div>
      </div>
    </div>
    <div id="u338" class="u338_container"   >
      <div id="u338_img" class="u338_normal detectCanvas"></div>
      <div id="u339" class="u339"  >
        <div id="u339_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#800080;">计算机</span></p></div>
      </div>
    </div>
    <div id="u340" class="u340_container"   >
      <div id="u340_img" class="u340_normal detectCanvas"></div>
      <div id="u341" class="u341"  >
        <div id="u341_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">公益</span></p></div>
      </div>
    </div>
    <div id="u342" class="u342_container"   >
      <div id="u342_img" class="u342_normal detectCanvas"></div>
      <div id="u343" class="u343" style="visibility:hidden;"  >
        <div id="u343_rtf"></div>
      </div>
    </div>
    <div id="u344" class="u344_container"   >
      <div id="u344_img" class="u344_normal detectCanvas"></div>
      <div id="u345" class="u345"  >
        <div id="u345_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">发 布</span></p></div>
      </div>
    </div>
    <DIV id="u346container" style="position:absolute; left:99px; top:348px; width:100px; height:20px; ; ; ;" >
      <LABEL for="u346">
        <div id="u347" class="u347"  >
          <div id="u347_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">同步</span></p></div>
        </div>
      </LABEL>
      <INPUT id="u346" style="position:absolute; left:-3px; top:-2px;" type="checkbox" value="checkbox"   >
    </DIV>
    <div id="u348" class="u348_container"   >
      <div id="u348_img" class="u348_normal detectCanvas"></div>
      <div id="u349" class="u349" style="visibility:hidden;"  >
        <div id="u349_rtf"></div>
      </div>
    </div>
    <div id="u350" class="u350"  >
      <div id="u350_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:20px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">创建团队</span></p></div>
    </div>
    <div id="u351" class="u351"  >
      <div id="u351_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">属性</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">：</span></p></div>
    </div>
    <DIV id="u352container" style="position:absolute; left:496px; top:48px; width:56px; height:20px; ; ; ;" >
      <LABEL for="u352">
        <div id="u353" class="u353"  >
          <div id="u353_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">公开</span></p></div>
        </div>
      </LABEL>
      <INPUT id="u352" style="position:absolute; left:-3px; top:-2px;" type="checkbox" value="checkbox"   >
    </DIV>
    <DIV id="u354container" style="position:absolute; left:552px; top:48px; width:56px; height:20px; ; ; ;" >
      <LABEL for="u354">
        <div id="u355" class="u355"  >
          <div id="u355_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">私有</span></p></div>
        </div>
      </LABEL>
      <INPUT id="u354" style="position:absolute; left:-3px; top:-2px;" type="checkbox" value="checkbox"   >
    </DIV>
    <div id="u356" class="u356_container"   >
      <div id="u356_img" class="u356_normal detectCanvas"></div>
      <div id="u357" class="u357"  >
        <div id="u357_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">编</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">程</span></p></div>
      </div>
    </div>
    <div id="u358" class="u358_container"   >
      <div id="u358_img" class="u358_normal detectCanvas"></div>
      <div id="u359" class="u359"  >
        <div id="u359_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">编</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">程</span></p></div>
      </div>
    </div>
    <div id="u360" class="u360_container"   >
      <div id="u360_img" class="u360_normal detectCanvas"></div>
      <div id="u361" class="u361"  >
        <div id="u361_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">编</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">程</span></p></div>
      </div>
    </div>
    <div id="u362" class="u362_container"   >
      <div id="u362_img" class="u362_normal detectCanvas"></div>
      <div id="u363" class="u363"  >
        <div id="u363_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">编</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">程</span></p></div>
      </div>
    </div>
    <div id="u364" class="u364_container"   >
      <div id="u364_img" class="u364_normal detectCanvas"></div>
      <div id="u365" class="u365"  >
        <div id="u365_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFF99;">app</span></p></div>
      </div>
    </div>
    <div id="u366" class="u366_container"   >
      <div id="u366_img" class="u366_normal detectCanvas"></div>
      <div id="u367" class="u367"  >
        <div id="u367_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFF99;">app</span></p></div>
      </div>
    </div>
    <div id="u368" class="u368_container"   >
      <div id="u368_img" class="u368_normal detectCanvas"></div>
      <div id="u369" class="u369"  >
        <div id="u369_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFF99;">app</span></p></div>
      </div>
    </div>
    <div id="u370" class="u370_container"   >
      <div id="u370_img" class="u370_normal detectCanvas"></div>
      <div id="u371" class="u371"  >
        <div id="u371_rtf"><p style="text-align:center;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFF99;">app</span></p></div>
      </div>
    </div>
  </DIV>
</DIV>
<DIV id="u372" style="visibility:hidden;" data-label="找人">
  <DIV id="pd0u372" style="" data-label="找人">
    <div id="u373" class="u373_container"   >
      <div id="u373_img" class="u373_normal detectCanvas"></div>
      <div id="u374" class="u374" style="visibility:hidden;"  >
        <div id="u374_rtf"></div>
      </div>
    </div>
    <INPUT id="u375" type=text value="搜索昵称/姓名" class="u375 u375_text_sketch"     >

    <div id="u376" class="u376_container"   >
      <div id="u376_img" class="u376_normal detectCanvas"></div>
      <div id="u377" class="u377" style="visibility:hidden;"  >
        <div id="u377_rtf"></div>
      </div>
    </div>
    <div id="u378" class="u378"  >
      <div id="u378_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">相</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">关推荐：</span></p></div>
    </div>
  </DIV>
</DIV>
<DIV id="u379" style="visibility:hidden;" data-label="新浪登录">
  <DIV id="pd0u379" style="" data-label="新浪登录">
    <div id="u380" class="u380_container"   >
      <div id="u380_img" class="u380_normal detectCanvas"></div>
      <div id="u381" class="u381" style="visibility:hidden;"  >
        <div id="u381_rtf"></div>
      </div>
    </div>
    <div id="u382"  ></div>
    <div id="u383"  ></div>
    <div id="u384" class="u384_container"   >
      <div id="u384_img" class="u384_normal detectCanvas"></div>
      <div id="u385" class="u385" style="visibility:hidden;"  >
        <div id="u385_rtf"></div>
      </div>
    </div>
    <div id="u386" class="u386"  >
      <div id="u386_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:18px;font-weight:bold;font-style:normal;text-decoration:none;color:#66CCFF;">水</span><span style="font-family:Applied Font;font-size:18px;font-weight:bold;font-style:normal;text-decoration:none;color:#66CCFF;">花</span></p></div>
    </div>
  </DIV>
</DIV>
<DIV id="u387" style="visibility:hidden;" data-label="搜索">
  <DIV id="pd0u387" style="" data-label="搜索">
    <div id="u388" class="u388_container"   >
      <div id="u388_img" class="u388_normal detectCanvas"></div>
      <div id="u389" class="u389" style="visibility:hidden;"  >
        <div id="u389_rtf"></div>
      </div>
    </div>
    <div id="u390" class="u390_container"   >
      <div id="u390_img" class="u390_normal detectCanvas"></div>
      <div id="u391" class="u391" style="visibility:hidden;"  >
        <div id="u391_rtf"></div>
      </div>
    </div>
    <div id="u392" class="u392"  >
      <div id="u392_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">搜“team”相关团队</span></p></div>
    </div>
    <div id="u393" class="u393"  >
      <div id="u393_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">搜“team”相关</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">任务</span></p></div>
    </div>
    <div id="u394" class="u394"  >
      <div id="u394_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">搜“team”相关</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">用户</span></p></div>
    </div>
  </DIV>
</DIV>
<div id="u395" class="u395"  >
  <div id="u395_rtf"><p style="text-align:left;"><span style="font-family:Applied Font;font-size:18px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;">团队TOP10</span></p></div>
</div><div id="u396" class="u396" >
  <DIV id="u396_line" class="u396_line" ></DIV>
</div>
</div>
<div class="preload"><img src='<%= asset_path("home/u0_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u2_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u4_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u6_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u8_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u11_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u14_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u16_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u20_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u24_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u26_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u27_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u30_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u43_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u46_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u49_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u51_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u54_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u57_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u61_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u65_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u68_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u69_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u70_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u72_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u74_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u75_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u77_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u85_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u88_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u92_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u93_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u95_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u98_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u106_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u130_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u134_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u146_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u150_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u158_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u162_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u195_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u207_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u216_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u219_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u223_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u229_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u233_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u266_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u278_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u280_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u282_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u286_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u292_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u301_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u302_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u303_line.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u311_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u313_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u318_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u325_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u327_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u342_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u348_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u356_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u364_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u373_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u380_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u384_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u388_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u390_normal.png") %>' width="1" height="1"/><img src='<%= asset_path("home/u396_line.png") %>' width="1" height="1"/></div>


